main{
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 1.4rem;
    font-weight: 700;
}
#input{
    width: 500px;
    height: 20px;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #41CF69;
    font-size: 2rem;
}
#boton{
    width: 200px;
    height: 80px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #41CF69;
    font-size: 1.5rem;
    font-family: 'Baloo Tammudu 2', cursive;
    font-weight: bold;
    background-color: #E4FFEE;
}