*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Baloo Tammudu 2', cursive;
}
body{
    min-width: 360px;
    background-color: #cabdf58c;
}
header{
    width: 100%;
    margin-top: 15px;
    margin-left: 10px;
}
.container-head{
   display: grid;
   grid-template-columns: 70% 30%;
}
.container-title{
    justify-content: left;
    padding: 5px;
    font-size: 1.4rem;
    font-weight: 600;  
    color: #58506bdc;  
}
.container-notifications{
    justify-items: right;
    padding-left: 70%;
    margin-top: 20px;
}
.container-card{
    width: 95%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 230px;
    background: -webkit-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); 
    border-radius: 25px;
    margin: 0 auto;
 
    
}
.container-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(100px, 115px);
}
.card-title{
    margin: 0 auto;
    line-height: 25px;
    margin-top: 35px;
    color: azure;
}
.card-title h2{
    font-size: 1.8rem;
    font-weight: 600;
}

.container-img{
    position: relative;
    padding-bottom: 25px;
    padding-left: 5%;
}
.container-img img{
    position: absolute;
    top: -30px;
}
.container-saldo{
    margin-left: 20px;
    line-height: 20px;
    margin-top: 25px;
    margin-bottom: 15px;
    color: azure;
}
.container-saldo h3{
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 35px;
}
.container-saldo p{
    font-size: 3rem;
    font-weight: 500;
    margin-top: 30px;
    margin-left: 50px;
}
.container-std{
    margin-top: 30px;
}
.container-stadistic{
    width: 95%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
   padding: 20px 25px 20px 25px;
   background-color: honeydew;
   border-radius: 20px;    
   font-size: 1rem;
   font-weight: 300;
   color: #58506bdc;
}
.container-stadistic p{
    margin-left: 50px;
    text-align: right;
}
.container-metas{
    width: 95%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 80% 20%;
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #58506bdc;
}
.container-metas-img{
    padding-left: 70%;
    margin-top: 5px;
}
.gifts{
    margin-top: 10px;
}
.container-gifts{
    width: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto;  
    grid-template-rows: minmax(200px, 260px);
}
.container-gifts .gift{
    background-color: honeydew;
    border-radius: 20px;
    padding: 20px;
    margin: 5px;
    font-size: 1rem;
    font-weight: 600;
    color: #58506bdc;
    line-height: 30px;
}
.container-gifts img{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}
.porcentajes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    grid-template-rows: minmax(50px, 60px);
}
.invisible{
    color: honeydew;
}
.porcentajes p{
    font-size: 0.6rem;
    font-weight: 400; 
    line-height: 15px;   
    margin-top: 10px;
}
.porcentaje-blue{
    font-size: 0.8rem;
    color: #05a9e0ce;
    font-weight: 600;
}
.portafolio{
    width: 95%;
    display: grid;
    grid-template-columns: 80% 20%;
    margin-left: 20px;
    margin-top: 25px;
}
.portafolio button{
    background-color: #E4FFEE;
    border: 1px solid #41CF69;
    padding: 5px 10px;
    border-radius: 10px;
    color:  #41CF69;
    margin-top: 5px;
}
.container-rt{
    width: 95%;
    display: grid;
    grid-template-rows: 200px 60px;
    background-color: honeydew;
    border-radius: 30px;
    margin-left: 15px;
}
.container-robotext{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
    margin: 0 auto;
}
.robot{
    padding: 20px;
    align-content: center;
}
.robot img{
    width: 120px;
    height: 120px;
}
.logo-SK{
    display: grid;
    grid-template-rows: 125px 40px;
    justify-content: space-between;
    line-height: 20px;
}
.quince{
    margin-left: 30px;
}
.parrafo-robot{
    font-size: 1rem;
    font-weight: 400;
    color: #58506bdc;
}
.parrafo-robot span{
    font-weight: bold;
}
.parrafo-robot2{
    font-size: 0.7;
    font-weight: 400;
    color: #58506bdc;
}
.parrafo-robot2 span{
    color: #41CF69;
}
.left-right{ 
    display: grid;
    grid-template-columns: 50% 50%;
}
.img-right{
    margin-left: 60px;
}
.parrafo-foot{
    text-align: center;
    font-size: 00.8rem;
    font-weight: 600;
    color: #58506bdc;
    line-height: 20px;
}
.container-ahorro{
    width: 90%;
    margin-left: 20px;
    margin-top: 30px;
}
.ahorro{
    width: 324px;
    display: grid;
    grid-template-rows: 221px 70px;
    background-image: url(/Assets/imgs/img-ahorro.png);
    background-repeat: no-repeat;
    border-radius: 30px;
}
.play-ahorro{
    margin-left: 173.67px;
    margin-right: 173.67px;
    margin-top: 86.67px;
    margin-bottom: 107.67px;
}
.foot-ahorro{
    width: 324px;
    margin-top: -60px;
    background-image: url(/Assets/imgs/foot-ahorro.png);
    background-repeat: no-repeat;
    border-radius: 30px;
}
.title-foot{
    margin-top: 20px;
    margin-left: 30px;
    color: honeydew;
    font-weight: 700;
    font-size: 1.7rem;    
}
.parrafo-foot{
    margin-top: -15px;
    margin-bottom: 20px;
    margin-left: 20px;
    color: #58506bdc;
    text-align: left;
    padding: 0;
    font-size: 00.8rem;
    font-weight: 500;
}
.counter{
    margin-top: 15px;
}
.container-gastos{
    width: 90%;
    margin-left: 20px;
}
.gastos-evitar{
    width: 90%;
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: honeydew;
    border-radius: 30px;
    padding: 20px;
}
.gastos-evitar h5{
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 10px;
    margin-bottom: 15px;
    color: #58506bdc;
}
.gastos-evitar p{
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 15px;
    color: #58506bdc;
}
.footer-icons{
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 60px;
    margin-top: 41px;
    padding: 20px;
}
.footer-icons h6{
    margin: 0 auto;
    line-height: 10px;
    text-align: center;
}

.invest{
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: 12%;
    color: #58506bdc;
}
.icons-f{
    width: 20px;
    height: 20px;
    margin-top: 2px;
    margin-left: 30%;
}
.title-active{
    color: #05abe0
}