header{
    width: 100%;
    margin-top: 15px;
    margin-left: 10px;
}
.container-head{
   display: grid;
   grid-template-columns: 70% 30%;
}
.container-title{
    justify-content: left;
    padding: 5px;
    
}
.container-notifications{
    justify-items: right;
    padding-left: 70%;
    margin-top: 20px;
}